body {
        font-family: "Roboto", sans-serif;
        Color: #434455;
        background: #FFF;
}
ul {
        list-style-type: none;
}
a {
        text-decoration: none;
}

.header-logo,
.footer-logo
{       
        
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        margin-right: 76px;
}
.footer-logo-features {
        color: #F4F4FD;
}

.header-logo, {
        color: #2e2f42;
}

..footer-logo, {
        color: #f4f4fd;
}

.header-logo-span {
        color: var(--NAVY-BLUE, #2E2F42);
}

.header-studio-logo,
.footer-studio-logo {
        color:  #2E2F42;
}

.header-contacts-link {
        color: #2e2f42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.header-contacts-link:hover,
.header-contacts-link:focus {
        color: #404bbf;
}

.address-link {
        color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
        color: #404bbf;
}
address {
        font-style: normal;
}
